
                {% for item in blog %}
                <div class=" relative custom-scroll-item">
                    <div class="relative rounded-tl-2xl text-center lightcyan-bg rounded-br-2xl m-6  p-4">
                        <a href="{{item.content.prefix}}"><img loading="lazy" src="/stream?image={{item.thumbnail()}}" alt="{{item.content.title}}" class="w-full h-56    rounded-tl-2xl mb-4" /></a>

                        <a href="{{item.content.prefix}}" class="text-lg font-semibold purple-color">{{ item.content.title}}</a>

                        <div class="my-4 text-gray-500 font-semibold custom-scroll h-32 p-2 overflow-auto">
                            <p>{{item.content.content|raw|striptags|slice(0, 500)}}</p>
                        </div>
                        <a href="/{{item.content.prefix}}" class="block mx-auto w-32 py-2 px-6 cyan-bg text-center rounded-lg ">{{lang.__('more')}}</a>
                    </div>
                </div>
                {% endfor %}

