


                    
                <!-- Contact Us Section
                ================================================== -->
                <section id="contact-us" class="sk__contact-us sk__py-m sk__parallax-background-section sk__flex-center-y">
                    <div class="sk__parallax-background-element sk__absolute sk__image-back-cover" style="background-image: url(../website_assets/img//nasa-Q1p7bh3SHj8-unsplash.jpg);"></div>
                    <div class="sk__tint sk__absolute"></div>
                    <div class="container sk__powercontainer">
                        <!-- Section Header -->
                        <div class="row sk__contact-info sk__inner-header text-center">
                            <div class="col-12 col-lg-10 offset-lg-1">
                                <h1 class="h1-small">Let's Start Creating</h1>
                                <p class="p-v2">Want to start a project of this caliber but don't know where to start? Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Contact Form -->
                            <div class="col-12 col-lg-10 offset-lg-1 sk__contact-form-col d-flex justify-content-end">
                                <div class="sk__contact-right text-center text-sm-start">

                                    <!-- Preview Only Static Form -->
                                    <form class="sk__form sk__contact-form" >

                                        <div class="form-group">
                                            <input type="text" name="the_name" placeholder="Name*" tabindex="1">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="the_email" placeholder="Email*" tabindex="2">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="the_message" placeholder="Message*" tabindex="3"></textarea>
                                        </div>

                                        <button type="submit" tabindex="4">Submit</button>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <!-- /.sk__contact-us -->


            <!-- Footer
            ================================================== -->
            <footer class="dark-shade-2-bg position-relative">

                <div class="dots">
                    <div class="the-dots"></div>
                </div>
                
                <div class="container sk__supercontainer position-relative">

                    <span class="divider sk__subtle-divider"></span>

                    <div class="row footer-main text-center text-sm-start">
                        <div class="col-md-12 col-lg-6 footer-main-large-col mb-4 mb-lg-0">
                            <div class="fancy-gradient-text-box">
                                <h3 class="h3-elegant ">Start your journey now.</h3>
                            </div>  
                            <p class="p-v2 mw-440">We are the Median of the business triangle, connecting the three main dimentions ( Customer, Provider and Market ) using the technology solutions.</p>
                            
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col widget_nav_menu">

                            <div class="row">
                                <div class="col">
                                    <!-- Footer Social Icons Menu -->
                                    <section class="footer-socials-section">
                                        <h5>Follow Us & Stay Informed</h5>
                                        <div class="footer-socials-inner">
                                            <div class="footer-socials">
                                                <a class="social-icons " href="https://www.facebook.com/medianssolutions" target="_blank"><img src="{{app.CONF.url}}website_assets/img/facebook.png" class="" alt="social" /></a>
                                                <a class="social-icons " href="https://www.facebook.com/medianssolutions" target="_blank"><img src="{{app.CONF.url}}website_assets/img/twitter.png" class="" alt="social" /></a>
                                                <a class="social-icons " href="https://www.facebook.com/medianssolutions" target="_blank"><img src="{{app.CONF.url}}website_assets/img/linkedin.png" class="" alt="social" /></a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col">
                            <div class="row">
                                <div class="col">
                                    <!-- Widget - Subscribe
                                    ================================================== -->
                                    <div class="widget custom_subscribe_widget">
                                        <div class="sk__widget-inner">

                                            <!-- Preview Only Static Form -->
                                            <h5>Zamalek Studio</h5>
                                            <p class="p-v2 mw-440"><span>140 - 26 July,  </span><span>Zamalek, Cairo. </span><br /><span>+2(0)102 3366-111 </span><br /><span>info@medianssolutions.com</span></p>
                                        </div>
                                    </div>
                                    <!-- /.custom_subscribe_widget -->
                                </div>
                            </div>
                        </div>

                        <ul class="flex ">
                            <li class="mr-2">
                                <a href="{{app.CONF.url}}pages/about-us" class="footer-main-links gradient-links">Pricing & Terms</a>
                            </li>
                            <li class="mx-2">
                                <a href="{{app.CONF.url}}pages/services" class="footer-main-links gradient-links">Services</a>
                            </li>
                            <li class="mx-2">
                                <a href="{{app.CONF.url}}pages/services" class="footer-main-links gradient-links">Portfolio & Works</a>
                            </li>
                        </ul>
                    </div>

                    <span class="divider sk__subtle-divider"></span>

                    <div class="row footer-bottom">
                        <div style="width: 63%;" class="col-12 col-md-4 order-xs-3 order-sm-3 order-md-2 text-center text-sm-start text-md-center">
                            <p class="p-footer-copyright text-left">MEDIANS AGENCY SOLUTIONS Copyright © {{year}} </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 order-sm-2 order-md-3 text-center text-sm-end">
                            <a class="footer-bottom-right-links" href="./about.html" >About</a>
                            <a class="footer-bottom-right-links" href="./services.html" >Services</a>
                            <a class="footer-bottom-right-links" href="#contact-us" >Contact</a>
                        </div>
                    </div>
                </div>

            </footer>


            <!-- Helper div for inserting before scripts
            ================================================== -->
            <div class="sk__body-end"></div>
            </div>

    </div>

    <script  src="{{app.CONF.url}}website_assets/js/parallax.min.js"></script>

    <script src="{{app.CONF.url}}website_assets/js/vendor/hc-offcanvas-nav.js"></script>
    <script src="{{app.CONF.url}}website_assets/js/vendor/gsap.min.js"></script>
    <script src="{{app.CONF.url}}website_assets/js/vendor/ScrollTrigger.min.js"></script>
    <script src="{{app.CONF.url}}website_assets/js/vendor/ScrollSmoother.min.js"></script>
    <script src="{{app.CONF.url}}website_assets/js/vendor/ScrollToPlugin.min.js"></script>
    <script src="{{app.CONF.url}}website_assets/js/vendor/slick.min.js"></script>
    <script  src="{{app.CONF.url}}website_assets/js/vendor/theme.js"></script>
    <script  src="{{app.CONF.url}}website_assets/js/demo.js"></script>

    <script src="{{app.CONF.url}}0front_assets/theia-sticky-sidebar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

    <!--===== ACTIVE JS=====-->
    <!-- <script src="{{app.CONF.url}}front_assets/vue/vue.app.js"></script> -->

    <style type="text/css">
        .footer-logo img {
            width: 150px;
        }
    </style>


    <script type="text/javascript">

        jQuery(document).ready( function(e){
            setTimeout(function(){
                document.documentElement.scrollTop = 0;
            },600);
        });
        jQuery(document).on('click','.ToggleItem', function(e){
            jQuery(jQuery(this).attr('data-toggle-target')).toggleClass(jQuery(this).attr('data-toggle-class'));
        });

    </script>

</body>

</html>