<!DOCTYPE html>
<html dir="{{lang.__('dir')}}" lang="{{lang_key}}">

<head>
    
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{item.content.title ? item.content.title : app.setting('sitename')}}</title>
    <meta name="description" content="{{item.content.seo_desc ? item.content.seo_desc : 'مجموعة مستشفيات بداية متخصصون فى علاج العقم وأمراض الذكورة وأطفال الانابيب وأمراض الجهاز التناسلي'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="{{app.request.uri}}">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri}}">
    <meta property="og:title" content="{{item.content.title ? item.content.title : app.setting('sitename')}}">
    <meta property="og:image" content="/route/image.php?src=1253926083_1828277228_581308477.jpg&img=pic&w=800">
    <meta property="og:description" content="{{item.content.seo_desc ? item.content.seo_desc : app.setting('seo_desc')}}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{item.content.title ? item.content.title : app.setting('sitename')}}">
    <meta property="twitter:image" content="/route/image.php?src=1253926083_1828277228_581308477.jpg&img=pic&w=800">
    <meta property="twitter:description" content="{{item.content.seo_desc ? item.content.seo_desc : app.setting('seo_desc')}}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/uploads/images/favicon.png">
    <link rel="icon" type="image.png" sizes="32x32" href="/uploads/images/favicon.png">
    <link rel="icon" type="image.png" sizes="16x16" href="/uploads/images/favicon.png">

    <!-- CSS -->
    <link href="/assets?asset=/src/front/css/tailwind.min.css" rel="stylesheet">
    <link href="/assets?asset=/src/front/owl/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets?asset=/src/front/fontawesome/css/all.min.css" rel="stylesheet">  
    <link href="/assets?asset=/src/builder/kopage_files/inc/live.css?v=4.4.2" rel="stylesheet" />
    <link href="/assets?asset=/src/front/css/custom.css" rel="stylesheet">

    <!-- JS -->
    <script src="/assets?asset=/src/front/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
    var rootURL = 'https://bedaya.medianssolutions.com/';
    var imageURL = 'https://bedaya.medianssolutions.com/route/image.php?';
    </script>
    <style>.text-default{text-align: {{lang.__('lang') == 'ar' ? 'right' : 'left'}} }</style>
    <!-- UA-89806532-4 -->
    <meta name="google-site-verification" content="-X2XHH_xRXPphZ-NG1_0ldtVIn2TQq5wHG8VRu9yZmY" />
    
</head>
<body class="p-0 m-0 {{lang.__('dir')}}">
