
<div class="w-full cyan-bg text-white show-mobile relative" style="z-index:999">
    <div class="mx-auto flex gap-3    container rtl">
        <a class="pt-2 px-2 font-semibold arrow arrow-r" href="javascript:;"> <b>→</b> </a>
        <div class="box-inner overflow-auto w-full custom-scroll">
            <div class="  custom-scroll-list gap-10 flex w-full p-2">
                <a href="javascript:;" class="flex gap-2">{{lang.__('online consultation')}}</a>
                <a href="javascript:;" class="flex gap-2">{{lang.__('offers')}}</a>
                <a href="javascript:;" class="flex gap-2">{{lang.__('OVULATION_CALCULATOR')}}</a>
                <a href="javascript:;" class="flex gap-2">{{lang.__('PREGNANCY_CALCULATOR')}}</a>
                <a href="javascript:;" class="flex gap-2">{{lang.__('about us')}}</a>
            </div>
        </div>
        <a class="pt-2 px-2 font-semibold arrow arrow-l" href="javascript:;"> ← </a>
    </div>
</div>
