{% include 'views/admin/includes/header.html.twig' %}


    <!-- main -->
    <main style="" class=" flex-1 overflow-x-hidden overflow-y-auto  ">
        <div class="py-2 mt-1"></div>

        <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
            <h1 class="font-bold text-lg ">{{title}}</h1>
            <hr class="mt-2 pb-10" />
            
            <div id="invoice-page">


                <div class="p-2 lg:px-8 bg-white dark:bg-gray-700 rounded-lg  flex-auto">

                    <form action="{{formAction}}" method="POST" data-refresh="1" id="add-device-form" class="action p-8 py-0 m-auto rounded-lg max-w-xl pb-10">
                        <h1 class="m-auto max-w-xl text-2xl mb-10 text-center">{{title}}</h1>
                        <input name="type"  type="hidden" value="edit_page" > 
                        <input name="id"  type="hidden" value="{{page.id}}" > 
                        <input name="slug"  type="hidden" value="{{page.slug}}" > 
                        <input name="name" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="Name" value="{{page.name}}"> 


                        {% for contentItem in page.content %}   
                        <textarea name="page_content[{{contentItem.code}}][]" required=""  class="h-40 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600 " placeholder="Content" >{{contentItem.value}}</textarea> 

                        {% endfor %}

                        <label class="inline-flex items-center mt-3">
                            <input name="status" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" {% if page.status == 1 %} checked  {% endif %}><span class="ml-2 text-gray-700">Status</span>
                        </label>
                        
                        <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">Save</button>
                    </form>
                </div>
            </div>

        </div>

    </main>
    
    <!-- end of main -->
    <div id="main-forms-container">
    </div>


<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('.editor', {
    theme: 'snow'
  });
</script>

{% include 'views/admin/includes/footer.html.twig' %}