{% include 'views/front/includes/header.html.twig' %}
{% include 'views/front/includes/navbar.html.twig' %}


    <div class="w-full cyan-bg py-2 relative mb-10">
        <div class="w-full overflow-hidden h-full absolute bottom-0 left-0">        
            <img loading="lazy" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" />
        </div>
        <div class="container mx-auto relative">
            <h1 class="text-2xl lg:pb-10  mx-auto w-72 text-center font-bold purple-color" >{{lang.__('Successful team')}}</h1>
            <div class="mx-auto w-8/12 relative z-10 lg:mb-8">
                <form action="/search" class="absolute top-0 lg:block hidden left-0 right-0 mx-auto bg-white px-6 pt-2 pb-6 border-1 border border-gray-100 rounded-lg " >
                    <input type="hidden" name="for" value="doctor">
                    <p class="py-4 text-base font-semibold purple-color">{{lang.__('LOOKING_FOR_DOCTOR')}}</p>
                    <div class="flex w-full gap-3 gap">
                        <input class="border-1 runded border border-1 border-gray-200 w-full text-sm rounded-2xl bg-white px-4 py-2" placeholder="{{lang.__('DOCTOR_NAME')}}" name="search">
                        <select class="border-1 runded border border-1 border-gray-200 w-full text-sm rounded-2xl bg-white px-4 py-2" placeholder="اختيار الفرع">
                            <option > -- التخصص</option>
                            {% for spec in specializations %}
                                {% if spec.parent_id == 1 %}
                                <option value="{{spec.id}}" selected>{{spec.content.title}} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select class="border-1 runded border border-1 border-gray-200 w-full text-sm rounded-2xl bg-white px-4 py-2" placeholder="اختيار الفرع">
                            <option > -- {{lang.__('branch')}}</option>
                            <option value="1" selected>فرع الدقي </option>
                        </select>
                        <a href="#!" class="rounded-lg pt-2 px-4 text-sm purple-bg text-white">بحث</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="blog-content container mx-auto">

        <div class="cairo mx-auto lg:block hidden lg:pt-20 pb-10   purple-color font-semibold text-2xl mx-auto text-center w-72">
            {{lang.__('OUR_DOCTORS')}}
            <span class="mx-auto my-4 w-20 border border-b-1  border-gray-300 block"></span>
        </div>
        <div class="w-full lg:grid md:grid grid-cols-3 block gap-3 gap px-1">
            {% for item in items %}
            <div class="w-full block-overlay relative  h-auto my-2 rounded-xl overflow-hidden">
                <img loading="lazy" src="/stream?image={{item.picture}}" class="rounded-lg w-full" />  
                <div class="shadow w-full h-full left-0 top-0 absolute z-10 rounder-lg"></div>
                <div class="block-overlay-hover w-full absolute  left-0 bottom-8 hover:bottom-10 px-8 z-20">
                    <a href="{{item.content.prefix}}" class="text-white text-xl font-bold">{{item.content.title}}</a>
                    <a href="{{item.content.prefix}}" class="cyan-color block w-full text-base font-semibold">{{lang.__('lang') == 'en' ? item.field.short_name_en : item.field.short_name_ar}}</a>
                    <p class="text-sm text-white pt-8 gap-3 gap font-semibold">
                        <a class="py-3 px-4 purple-bg text-white rounded-tl-lg rounded-br-lg" href="/{{item.content.prefix}}">{{lang.__('Profile CV')}}</a>
                        <a class="py-3 px-4 cyan-bg purple-color hover:text-gray-500 mx-2 " href="/book/{{item.id}}">{{lang.__('BOOK_NOW')}} </a>
                        <!-- <a class="py-3 px-3 cyan-bg purple-color hover:bg-white mx-1 " href="#!">استشارة اونلاين </a> -->
                    </p>
                    <p class="text-sm text-white pt-4 ">
                        {{item.content.short|striptags|trim|raw}}
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="w-full text-center py-10">
            <a class=" inline-block mx-auto text-center rounded-tl-lg rounded-br-lg py-2 px-4 purple-bg text-white " href="#!">المزيد </a>
        </div>

    </div>
    

    {% include 'views/front/center_block.html.twig' %}
    

    {% include 'views/front/services_bottom.html.twig' %}



{% include 'views/front/includes/footer.html.twig' %}
