{% include 'views/front/includes/header.html.twig' %}

    <div class=" main-header-slider cyan-bg relative w-full left-0 top-0 overflow-hidden ltr" >
        <div class="w-full slider-text  absolute left-0 top-0 ">
            <div class="container mx-auto lg:pt-40 pt-24 ">
                <div class="lg:w-1/2 lg:text-right text-center lg:pt-32 ">
                    <h1 class="text-2xl lg:text-4xl font-bold lg:pb-4 purple-color">مجموعة مستشفيات بداية</h1>
                    <h2 class="text-white text-xl  lg:text-3xl  md:text-2xl font-semibold pb-0">متخصصون فى علاج العقم</h2>
                    <p class="text-white lg:text-lg text-sm">وأمراض الذكورة وأطفال الانابيب وأمراض الجهاز التناسلي</p>
                    <div class="flex w-full gap-3 gap text-right  px-1 mt-4 text-xs lg:text-sm lg:text-sm" style="direction:rtl;">
                         <a href="/offers" class="py-1 px-3 rounded-lg purple-bg text-white flex gap gap-3">
                             <span><i class="fa fa-gift my-1"></i></span>
                             <span>{{lang.__('Bedaya Offers')}}</span>
                         </a>
                         <a href="#!" class="py-1 px-3 rounded-lg purple-bg  text-white flex gap gap-3">
                             <span><i class="fa fa-calendar my-1"></i></span>
                             <span>{{lang.__('Pregnancy period Calculator')}}</span>
                         </a>
                         <a href="./srevice.php" class="py-1 px-3 rounded-lg purple-bg text-white flex gap gap-3">
                             <span><i class="fa fa-file my-1"></i></span>
                             <span>خدمات بداية</span>
                         </a>
                    </div>
                </div>
                <div class="relative lg:hidden grid grid-cols-2 sm:grid sm:grid-cols-3">
                    <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .5;" />
                    <div class="text-center py-2">
                        <a href="/booking" class="text-base font-semibold purple-color ">
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/online-04.webp" width="50" height="48" class="mx-auto my-2">
                        </a>
                        <a href="/booking" class="text-base font-semibold purple-color ">{{lang.__('book_now')}}</a>
                    </div>
                    <div class="text-center py-2">
                        <a href="/bedaya-offers" class="text-base font-semibold purple-color ">
                        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/online-05.webp" width="50" height="48" class="mx-auto my-2"></a>
                        <a href="/bedaya-offers" class="text-base font-semibold purple-color ">{{lang.__('offers')}}</a>
                    </div>
                    <div class="text-center py-2">
                        <a href="/استشارات-اونلاين" class="text-base font-semibold purple-color ">
                        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/operator.webp" width="50" height="48" class="mx-auto my-2"></a>
                        <a href="/استشارات-اونلاين" class="text-base font-semibold purple-color ">{{lang.__('online consultation')}}</a>
                    </div>
                    <div class="text-center py-2">
                        <a href="/contact" class="text-base font-semibold purple-color "><img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/online-08.webp" width="50" height="48" class="mx-auto my-2"></a>
                        <a href="/contact" class="text-base font-semibold purple-color ">{{lang.__('contact')}}</a>
                    </div>
                    <!-- <div class="text-center py-2">
                        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/online-06.webp" width="50" height="48" class="mx-auto my-2">
                        <a href="#!" class="text-base font-semibold purple-color ">حاسبة فترة التبويض</a>
                    </div>
                    <div class="text-center py-2">
                        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/online-07.webp" width="50" height="48" class="mx-auto my-2">
                        <a href="#!" class="text-base font-semibold purple-color ">حاسبة فترة الحمل</a>
                    </div> -->
                </div>
            </div>
        </div>
        <img alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="hide-mobile absolute left-0 top-0 w-full" style="opacity: .3;" />
        <img alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/header-bg.webp" height="627" width="1400" class="hide-mobile w-auto h-full home-bg" style="max-width: none;" />

    </div>
    <div class="relative py-10 w-full overflow-hidden bg-gray-100">
        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 top-0 w-full" style="opacity: 0.1;" />
        <div class="container grid mx-auto relative z-10">
            <h3 class="title-gradient rounded-lg py-2 pl-40 pr-6 purple-color font-semibold text-xl " style="width: max-content;">
                {{lang.__('CATS_LIST')}}
            </h3>
        </div>
        <span :set="childs = []"></span>
        <div class="container mx-auto relative lg:block flex z-10">
            <div class="grid lg:grid-cols-5  custom-scroll lg:overflow-hidden overflow-auto h-64 lg:h-auto md:h-full sm:h-full md:grid-cols-3 grid-cols-1 lg:w-full w-64 lg:gap-10 lg:px-10 px-2 py-2 content-center mt-4" style="align-content:baseline" id="switch-cat">

                {% for item in specializations %}
                <div data-childs="{{item.childs}}" class="block border-1  text-center border border-purple-300 cursor-pointer rounded-tl-2xl rounded-br-2xl bg-white   hover:bg-blue-400 lg:px-6 px-2 py-2 lg:pt-6 text-black hover:text-white switch-hover">
                    <img loading="lazy" width="78" height="78" alt="{{item.content.title}}" src="/stream?image=/uploads/img/specialization-{{item.id}}-dark.webp" class="mx-auto pic-1 lg:w-auto w-10">
                    <img loading="lazy" alt="{{item.content.title}}" src="/stream?image=/uploads/img/specialization-{{item.id}}.webp" class="mx-auto mx-auto pic-2 lg:w-auto w-10">
                    <p class="pt-4 lg:text-xl text-base font-semibold lg:font-bold">{{item.content.title}}</p>
                </div>
                {% endfor %}

            </div>
            <div class="w-full block text-center mx-auto lg:mt-0 lg:ml-auto mt-2 ml-2 px-4 ">
                <div class="gap-4 w-full block" id="cat-content">
                    {% for child in specializations[0].childs %}
                    <a class="lg:inline-block block lg:mx-2 my-2 py-2 px-4 lightcyan-bg font-semibold purple-color border border-purple-400 rounded-lg" href="{{child.content.prefix}}">{{child.content.title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="relative py-10  w-full  cyan-gradient45 z-10">
        <img loading="lazy"  alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .5;" />
        <div class="container grid mx-auto relative z-10 lg:block hidden">
            <h3 class="title-gradient rounded-lg py-2 pl-40 pr-6 purple-color font-semibold text-xl " style="width: max-content;">
                {{lang.__('important dates')}}
            </h3>
            <div class="grid grid-cols-8 mt-20 dates-grid ">
                {% for story_date in story_dates %}
                <div class="m-2 mx-1  ">
                    <span class="mx-auto relative w-20 text-center block bg-white border-2 border-purple-600 my-4 rounded-lg py-1 px-2 font-bold purple-color">{{story_date.title}}</span>
                    <div class="p-2 py-6 text-center rounded-2xl bg-white">
                        <span class="font-bold ">{{story_date.content.title}}</span>
                        <p class="my-2 text-sm max-h-32 custom-scroll overflow-auto">{{story_date.content.content}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container mx-auto">
            <div class="pb-60  pt-24">
                <div class=" mx-auto left-0 right-0 absolute rounded-2xl">
                    <div class="video-center show-modal-iframe relative" data-youtube-link="WwG8CfBvnuc" >
                        <img alt="{{app.Settings['sitename']}}" width="680" height="385" width="auto" src="/stream?image=/uploads/thumbnails/video.webp" class="mx-auto lg:w-6/12 w-10/12">
                        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/play-button_en.webp" class=" cursor-pointer w-16 lg:w-24 bg-white rounded-full p-1 lg:p-3 mx-auto absolute my-auto left-0 right-0 top-0 bottom-0">
                    </div>
                    <div class="mx-auto sm:w-full py-2 flex gap-3 gap lg:w-6/12 w-10/12">
                        <div class="video-center show-modal-iframe mx-auto rounded-2xl w-56 relative " data-youtube-link="dIr6zv2sQq0"  >
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/thumbnails/video2.webp" width="220" height="140" class="mx-auto rounded-lg w-56">
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/play-button_en.webp" class="cursor-pointer lg:w-12 w-6 bg-white opacity-90 hover:opacity-100 lg:opacity-70 rounded-full p-1 mx-auto absolute my-auto left-0 right-0 top-0 bottom-0">
                        </div>
                        <div class="video-center show-modal-iframe mx-auto rounded-2xl w-56 relative" data-youtube-link="WnN4DwUVbMc" >
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/thumbnails/video3.webp" width="220" height="140"  class="mx-auto rounded-lg w-56">
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/play-button_en.webp" class="cursor-pointer lg:w-12 w-6 bg-white  opacity-90 hover:opacity-100 lg:opacity-70 rounded-full p-1 mx-auto absolute my-auto left-0 right-0 top-0 bottom-0">
                        </div>
                        <div class="video-center show-modal-iframe mx-auto rounded-2xl w-56 relative" data-youtube-link="XE9aUJ9SDr8" >
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/thumbnails/video4.webp" width="220" height="140"  class="mx-auto rounded-lg w-56">
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/play-button_en.webp" class="cursor-pointer lg:w-12 w-6 bg-white opacity-90 hover:opacity-100 lg:opacity-70 rounded-full p-1 mx-auto absolute my-auto left-0 right-0 top-0 bottom-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative py-10 pt-20 lg:pt-80 w-full overflow-hidden bg-gray-100">
        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 top-0 w-full" style="opacity: 0.1;" />
        <div class="container grid mx-auto relative z-10 hidden">
            <h3 class="title-gradient rounded-lg py-2 pl-40 pr-6 purple-color font-semibold text-xl " style="width: max-content;">
                رؤية المستشفي
            </h3>
            <div class="custom-scroll-container custom-scroll ">
                <div class="lg:grid lg:grid-cols-3 md:grid-cols-3  lg:gap-20 gap-10 py-10 content-center custom-scroll-list" id="vision">
                    <div class="custom-scroll-item">
                        <a href="#!" class="relative">
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/Rectangle_31-1.webp" class="w-full rounded-2xl">
                            <span class="w-full text-center h-32 pt-10 opacity-70 text-white bg-black m-auto absolute my-auto left-0 right-0 top-0 bottom-0 text-2xl">الدقة</span>
                        </a>
                    </div>
                    <div class="custom-scroll-item">
                        <a href="#!" class="relative">
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/Rectangle_32-1.webp" class="w-full rounded-2xl">
                            <span class="w-full text-center h-32 pt-10 opacity-70 text-white bg-black m-auto absolute my-auto left-0 right-0 top-0 bottom-0 text-2xl">الجودة</span>
                        </a>
                    </div>
                    <div class="custom-scroll-item">
                        <a href="#!" class="relative">
                            <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/Rectangle_30-2.webp" class="w-full rounded-2xl">
                            <span class="w-full text-center h-32 pt-10 opacity-70 text-white bg-black m-auto absolute my-auto left-0 right-0 top-0 bottom-0 text-2xl">فريق العمل</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'views/front/center_block.html.twig' %}

    <div class="relative pt-6 lg:pb-4 w-full overflow-hidden " style="z-index: 9991;" id="app">
        <img loading="lazy" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 top-0 w-full" alt="{{app.Settings['sitename']}}" style="opacity: 0.1;" />
        <div class="container grid mx-auto relative z-10 ">
            <h3 class="title-gradient rounded-lg py-2 pl-40 pr-6 purple-color font-semibold text-xl " style="width: max-content;">
                {{lang.__('Bedaya SUCCESS_STORIES')}}
            </h3>
        </div>
        <div class="custom-scroll-container custom-scroll container grid mx-auto relative z-10 lg:pb-10" >
            <div class="custom-scroll-list block lg:grid lg:my-10 lg:grid-cols-3 sm:grid-cols-2 w-full success-stories-grid pb-20 lg:pb-0">

                {% for item in stories %}
                <div class=" relative custom-scroll-item">
                    <div class="show-modal-iframe play-icon absolute z-10 cursor-pointer right-0 left-0 top-0 w-12 rounded-full border-4 border border-white mx-auto bg-white" data-youtube-link="{{item.field.video_link}}">
                        <img loading="lazy" alt="{{app.Settings['sitename']}}" width="46" height="46" src="/stream?image=/uploads/img/play-button_ex.webp"  />
                    </div>
                    <div class="relative rounded-tl-2xl rounded-br-2xl m-6 cyan-gradient-vertical p-10">
                        <div class="mb-4 text-white font-semibold custom-scroll h-32 p-2 overflow-auto">
                            <p>{{item.content.content}}</p>
                        </div>
                        <div style="bottom: -85px;" class="w-full absolute right-0 left-0 bottom-0 w-30  mx-auto">
                            <div data-youtube-link="{{item.field.video_link}}" class="rounded-full border-4 border border-white  bg-white w-20 mx-auto show-modal-iframe ">
                                <img loading="lazy" alt="{{item.content.title}}" src="/stream?image={{item.thumbnail()}}" class="w-20 h-20 rounded-full" />
                            </div>
                            <a data-youtube-link="{{item.field.video_link}}" class="show-modal-iframe block mx-auto text-center w-64 font-semibold" href="javascript:;"><span>{{item.content.title}}</span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <modal :items="[]" ref="modal"></modal>
    </div>
    <div class="relative py-10 cyan-gradient45 w-full overflow-hidden " style="z-index: 999;">
        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .5;" />
        <div class="container grid mx-auto relative z-10 ">
            <h3 class="title-gradient rounded-lg py-2 pl-40 pr-6 purple-color font-semibold text-xl " style="width: max-content;">
                {{lang.__('our_experts')}}
            </h3>
        </div>
        <div class="custom-scroll-container custom-scroll container grid mx-auto relative z-10 ">
            <div class="custom-scroll-list block lg:grid my-10 lg:grid-cols-3 sm:grid-cols-2 w-full doctors-grid">
                {% for item in doctors %}
                <div class=" relative custom-scroll-item">
                    <div style="top:-15px" class="absolute z-10 right-0 left-0 top-0 w-20 rounded-full border-4 border border-white mx-auto bg-white">
                        <img loading="lazy" alt="{{item.content.title}}" src="/stream?image={{item.thumbnail()}}" class="w-20 h-20 rounded-full" />
                    </div>
                    <div class="relative rounded-tl-2xl rounded-br-2xl m-2 mx-4 bg-white lg:py-10 lg:px-6 py-10 px-2 pb-6">
                        <a href="{{attribute(item, lang_key).prefix}}" class="block text-center pt-6 pb-2 w-full text-xl text-gray-800 font-semibold">{{attribute(item, lang_key).title}}</a>
                        <span class="block text-center  pb-2 w-full text-base cyan-color font-semibold">{{item.prefex}}</span>
                        <div class="mb-4 text-gray-600  font-semibold custom-scroll h-32 p-2 overflow-auto">
                            <p>{{attribute(item, lang_key).content|striptags|slice(0, 500)}}</p>
                        </div>
                        <a href="{{app.CONF.url}}{{item.content.prefix}}" class="block mx-auto w-32 py-2 px-6 bg-blue-100 text-center rounded-lg">{{lang.__('more')}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="relative py-10  w-full overflow-hidden " style="z-index: 999;">
        <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 top-0 w-full" style="opacity: 0.1;" />
        <div class=" container grid mx-auto relative z-10 ">
            <h3 class="title-gradient rounded-lg py-2 pl-40 pr-6 purple-color font-semibold text-xl " style="width: max-content;">
                {{lang.__('latest_articles')}}
            </h3>
        </div>
        <div class="custom-scroll-container custom-scroll container grid mx-auto relative z-10 ">
            <div class="custom-scroll-list block lg:grid my-10 lg:grid-cols-3 sm:grid-cols-2 w-full news-grid">
                {% for item in blog %}
                <div class=" relative custom-scroll-item">
                    <div class="relative rounded-tl-2xl text-center lightcyan-bg rounded-br-2xl m-6  p-4">
                        <a href="{{attribute(item, lang_key).prefix}}"><img loading="lazy" src="/stream?image={{item.thumbnail()}}" alt="{{item.content.title}}" class="w-full h-56    rounded-tl-2xl mb-4" /></a>

                        <a href="{{attribute(item, lang_key).prefix}}" class="text-lg font-semibold purple-color">{{ item.content.title}}</a>

                        <div class="my-4 text-gray-500 font-semibold custom-scroll h-32 p-2 overflow-auto">
                            <p>{{item.content.content|striptags|slice(0, 500)}}</p>
                        </div>
                        <a href="/{{item.content.prefix}}" class="block mx-auto w-32 py-2 px-6 cyan-bg text-center rounded-lg">{{lang.__('more')}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% include 'views/front/includes/footer.html.twig' %}
