                            {% if similar_articles|length > 0 %}
                            <div class="cyan-gradient45 rounded-lg py-2  pl-40 pr-6 purple-color font-semibold text-lg  ">
                                {{lang.__('RELATED_ARTICLES')}}
                            </div>
                            {% endif %}
                            {% for similar_item in similar_articles %}
                            <div class="relative border-1 border border-gray-100 gap-3 bg-white rounded-lg my-6 p-2 flex pt-4 ">
                                <img loading="lazy" src="/stream?image={{similar_item.photo}}" class="rounded-full p-1 border-purple-800 border-1 w-24 h-24 mt-4 " alt="Doctor" width="88" height="88" />
                                <div class="w-full ">
                                    <h3 class="mb-2"><a class="text-base pb-1 font-bold purple-color" href="/{{similar_item.content.prefix}}">{{similar_item.content.title}} </a></h3>
                                    <span class="text-sm text-gray-500 font-semibold">{{similar_item.content.content|striptags|slice(0,50)}}.. <a href="/{{similar_item.content.prefix}}">{{lang.__('more')}} </a></span>
                                    <p class="text-sm  font-bold cyan-color">{{similar_item.category.content.title}}</p>
                                </div>
                            </div>
                            {% endfor  %}
