{% include 'views/admin/includes/header.html.twig' %}
    <!-- main -->
    <main style="" class=" flex-1 overflow-x-hidden overflow-y-auto  ">
        <div class="py-2 mt-1"></div>
        <!-- today tab 1 -->
        <!-- New releases -->
        <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
            <h1 class="font-bold text-lg ">{{title}}</h1>
            <hr class="mt-2 pb-10" />
            <h1 class="text-2xl font-medium">Invoice: <span class="text-gray-400">{{order.code}}</span></h1>
            
            <div id="invoice-page">
                <div class="row">
                    <div class="col-md-6 py-10">
                        {% if order.id %}
                        <div class="w-full flex justify-between items-center bg-white mt-2 py-5 p-2 hover:shadow-lg rounded cursor-pointer transition">
                            <div class="flex ml-2"> 
                                <img src="{{app.CONF.url}}assets/img/ps.png" width="60"  class="rounded-full">
                                <div class="flex flex-col ml-5"> 
                                    <span class="font-medium text-black">{{order.DeviceModel.title}}</span> 
                                    <span class="flex text-2xl font-bold text-gray-400   ">
                                        <span class=" w-20 mr-10">
                                            {{ app.deviceOrder.calculateTime(order.DeviceOrder.startTime, order.DeviceOrder.endTime).h }} :
                                            {{ app.deviceOrder.calculateTime(order.DeviceOrder.startTime, order.DeviceOrder.endTime).i }}
                                        </span>
                                    </span> 

                                </div>
                                 <span class="mx-5 w-20 text-lg font-bold  text-red-600 mr-5"> 
                                    {{app.currency}} {{ order.productsCost }}   
                                </span>
                            </div>
                            <div class="flex flex-col items-center"> 
                                <img width="100" src='{{ qrcode.render( "#{app.CONF.url}order/#{order.code}"   ) }}'>
                            </div>
                            <div class="flex flex-col items-center"> <span class="text-lg text-gray-400">{{order.status}}</span> <i class="fa fa-star text-green-400"></i> </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-md-6  text-right">
                        <div class="text-2xl text-red-600 font-bold" >Total: {{app.currency}} {{order.cost}}</div>
                        <div class="py-4">
                            <p class="mt-5 py-3 pr-5"><span class="font-medium pr-5">Date:</span> {{order.startTime|date("Y-m-d") }}</p>
                            <p class="py-3 pr-5"><span class="font-medium pr-5">Start time:</span> {{order.startTime|date("H:i") }}</p>
                            <p class="py-3  pr-5"><span class="font-medium pr-5">End time:</span> {{order.endTime|date("H:i") }}</p>
                        </div>
                    </div>


                </div>
            <!-- END New releases -->


                    <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
                        <table class="table dark:text-gray-400 text-gray-800 border-separate space-y-6 text-sm w-full">
                            <thead class="dark:bg-gray-800 bg-white text-gray-500">
                                <tr>
                                    <th class="p-2 text-left">Item</th>
                                    <th class="p-2 text-left">Price</th>
                                    <th class="p-2 text-left">Qty</th>
                                    <th class="p-2 text-left">Total Cost</th>
                                    <th class="p-2 text-left">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% set productsCost = 0 %}
                                
                                {% for productOrder in order.Products %}
                
                                {% set productsCost = productsCost + (productOrder.productCost * productOrder.qty) %}

                                <tr class="dark:bg-gray-800">
                                    <td class="p-2">
                                        <div class="flex align-items-center">
                                            <div class="ml-3">
                                                <div class="font-medium">{{productOrder.product.title}}</div>
                                                <div class="text-gray-500 text-sm">{{productOrder.product.description}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-2 font-bold">
                                        {{productOrder.productCost}}
                                    </td>
                                    <td class="p-2">
                                        {{productOrder.qty}}
                                    </td>
                                    <td class="p-2">
                                        {{ (productOrder.productCost * productOrder.qty) }}
                                    </td>
                                    <td class="p-2">
                                        <span class="bg-red-400 {% if product.publish == 1 %} bg-green-400 {% endif %}  text-gray-50 rounded-md px-2">{{stock.time|date("m/d - H:i")}}</span>
                                    </td>
                                    <td class="p-2 ">
                                        <!-- <a href="{{app.CONF.url}}stock/{{stock.id}}" class="text-gray-400 hover:text-gray-100  mx-2">
                                            <i class="material-icons-outlined text-base">edit</i>
                                        </a> -->
                                        <a  data-ajax="true" data-confirm="true" data-request-id="{{stock.id}}" data-request-type="delete_stock" data-type="post" href="#!"  class="text-gray-400 hover:text-gray-100  ml-2">
                                            <i class="material-icons-round text-base">delete_outline</i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                <div class="row">
                    <div class="col-md-6">
                        
                        {% if order.status == 'pending' %}
                        <form action="{{formAction}}" method="POST" data-refresh="1" id="add-discount-form" class="ajax-form p-8 py-0 m-auto rounded-lg max-w-xl pb-10 mt-10">
                            <h1 class="m-auto max-w-xl text-2xl mb-5 text-left">Make a discount</h1>
                            <input name="type"  type="hidden" value="order_discount" > 
                            <input name="params[id]"  type="hidden" value="{{order.code}}" > 

                            <button class="uppercase float-right mt-2 bg-white hover:bg-gray-100 text-gray-100 hover:text-gray-700 font-semibold py-2 px-4 text-sm bg-red-800  rounded shadow-sm">Check</button>
                            <input name="params[discountCode]" required="" type="text" class="h-12 mt-3 rounded max-w-full w-80 border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="Discount code"> 
                        </form>
                        {% endif %}
                        
                        <button onclick="printDiv('invoice-page');" class="mt-6 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-sm border border-gray-300 rounded shadow-sm" >
                            Print invoice
                        </button>

                        {% if order.status == 'pending' %}
                        <a data-ajax="true" href="#!"  data-request-id="{{order.code}}" data-request-type="setOrderPaid" data-type="post"  class="mt-6 bg-white hover:bg-gray-100 text-gray-100 hover:text-gray-700 font-semibold py-2 px-4 text-sm bg-red-800  rounded shadow-sm" >
                            Pay order
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-6">

                        <div class="py-2 ml-auto mt-5 w-full">
                            <div class="flex justify-between mb-3">
                                <div class="text-gray-800 text-right flex-1">Device Cost</div>
                                <div class="text-right w-40">
                                    <div class="text-gray-800 font-medium" >
                                        {{app.currency}} {{ order.productsCost }}   
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between mb-3">
                                <div class="text-gray-800 text-right flex-1">Products Cost</div>
                                <div class="text-right w-40">
                                    <div class="text-gray-800 font-medium" >{{app.currency}} {{productsCost}}</div>
                                </div>
                            </div>
                            <div class="flex justify-between mb-4">
                                <div class="text-sm text-gray-600 text-right flex-1">Discount</div>
                                <div class="text-right w-40">
                                    {%  if order.discount.value  %} <div class="text-sm text-gray-600" >-{{order.discount.value}}%</div>{%  endif  %}
                                    {%  if order.discount.value < 1  %} <div class="text-sm text-gray-600" >0</div>{%  endif  %}
                                </div>
                            </div>
                        
                            <div class="py-2 border-t border-b">
                                <div class="flex justify-between">
                                    <div class="text-xl text-gray-600 text-right flex-1">Total amount</div>
                                    <div class="text-right w-40">
                                        <div class="text-2xl text-red-600 font-bold" >{{app.currency}} 
                                            {% if order.discount.value %}
                                            {{order.totalCost - (order.totalCost * (order.discount.value / 100)) }}
                                            {% else%}
                                            {{ order.totalCost }}
                                            {% endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>

        </div>

    </main>
    
    <!-- end of main -->
    <div id="main-forms-container">
    </div>

{% include 'views/admin/includes/footer.html.twig' %}