<!DOCTYPE html>
<html lang="en">
<head>

	<base href="/">

	<script>if(window.self === window.top)window.top.location.href="index.php";</script>
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="dns-prefetch" href="https://use.fontawesome.com">
	<link rel="preconnect" href="https://use.fontawesome.com">
	<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
	<link rel="preconnect" href="https://cdn.jsdelivr.net">

	<title>Edit - Website Builder Admin Panel</title>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <script src="/assets?asset=/src/builder/js/jquery.min.js" type="text/javascript"></script>
<!--Bootstrap-->
<link href="/assets?asset=/src/builder/css/bootstrap.min.css" rel="stylesheet" />
<script src="/assets?asset=/src/builder/js/bootstrap.bundle.min.js" type="text/javascript"></script>
 <link href="/assets?asset=/src/builder/kopage_files/inc/live.css" rel="stylesheet" />
 <link href="/assets?asset=/src/builder/kopage_files/inc/live-admin.css" rel="stylesheet" /><style>
		#prepage{position:fixed;top:0;left:0;right:0;padding-top:0;z-index: 1029;}
		#prepage .alert{position:absolute;margin:0;border-radius:0;border-width:1px 0 0;box-shadow:0 2px 2px rgba(0,0,0,0.3);padding:0 100px 0 20px;overflow:auto;line-height:50px;top:13px;right:5px;}
		#prepage .alert a.closeAlert{font-size:30px;text-decoration:none;color:rgba(0,0,0,0.3);padding:0;background:rgba(0,0,0,0.1);position:absolute;top:0;bottom:0;right:0;

		width: 50px;
		height: 50px;
		text-align: center;

		}
		#prepage .alert a.closeAlert:hover{color:rgba(255,255,255,0.5);background:rgba(0,0,0,0.3);}

		#admin span.menuMoveSpan {background:none;cursor:move; position:absolute;margin:2px 0 0 -20px; height:12px; width:12px; padding:0; display:block}
		/*#admin .tree li {margin-left:20px;}*/

		.sidebar h5 {border-bottom:1px solid #ddd;margin-bottom:5px; padding-bottom:0}
		.koProgress{margin-top:7px}.koProgress .bar{background:var(--ui-color-accent);height: 5px;}
		</style>
		<script src="/assets?asset=/src/builder/js/nanobar.min.js"></script>
		<script>
		var nanobar;
		function koModal_confirm(u,q){


			if(confirm('Are you sure')){window.location.href=u}


		}

		$(function(){

			nanobar = new Nanobar({

				classname: 'koProgress'

			});

		});

		function navbarAlert(alertMessage,alertType){

			var thisNewId='navbar_alert_'+ Math.floor((Math.random()*1000)+1);
			$('#prepage').append('<div class=\'alert '+alertType+' hide\' id=\'navbar_alert_'+thisNewId+'\'><a href="javascript:void(null)" onclick="$(\'#navbar_alert_'+thisNewId+'\').slideUp()" class="closeAlert">&times;</a>'+alertMessage+'</div>');
			$("#navbar_alert_"+thisNewId).slideDown();
			setTimeout('$("#navbar_alert_'+thisNewId+'").slideUp();',10000);

		}
		</script><link rel="bookmark" href="/src/builder/kopage_files/editor_images/favicon.png" /><link rel="shortcut icon" href="/src/builder/kopage_files/editor_images/favicon.png" /><link rel="apple-touch-icon" href="/src/builder/kopage_files/editor_images/favicon.png" /><link href="https://fonts.googleapis.com/css?family=Poppins:400,700,800&amp;display=swap&amp;subset=latin,latin-ext" rel="stylesheet"><style>:root{--ui-font:'Poppins';--ui-font-normal:400;--ui-font-bold:700;--ui-font-system:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"}</style>
	<style>

		:root {
			--ui-color-accent: #179BD7;--ui-color-accent-75: rgba(23,155,215,0.7);--ui-color-accent-50: rgba(23,155,215,0.5);--ui-color-accent-25: rgba(23,155,215,0.25);--ui-color-accent-light: rgba(23,155,215,0.1);--ui-color-stripes-accent:repeating-linear-gradient(
	-45deg,#005f9b,#179BD7 20px,#005f9b 20px,#005f9b 50px,#179BD7 50px,#179BD7 65px);--ui-color-leftmenu:#293A4A;		}

		#admin {
			font-family: var(--ui-font);
			margin: 0;
			padding: 0;
			overflow: hidden;
			width: 100%;
			height: 100%;
			background: var(--ui-color-leftsubmenu);
		}
				
	</style>

	<link href="https://fonts.googleapis.com/css?family=Nunito:400,800&amp;subset=latin-ext" rel="stylesheet">

	<link rel="stylesheet" href="/assets?asset=/src/builder/css/jBox.all.min.css" />
	<script src="/assets?asset=/src/builder/js/jBox.all.min.js"></script>

	
</head>
<body id="admin" class="">
	<div id="prepage"></div>

		<form method="post" action='/builder/submit' name='editor' id="pageEditor">
		
		<input type="hidden" name="supermode" value="updateMeta" />
		<input type="hidden" name="prefix" value="{{page.prefix}}" />
		<input type="hidden" name="pagePreview" id="pagePreview" value="0" />
		<input type="hidden" id="oldPageName" name="oldPageName" value="{{page.title}}" />
		
		<input id="nazwa_strony" name="nazwa_strony" type="hidden" value="{{page.title}}" />

		
<div id="keditMoreSettings"><div style="background:#f5f5f5"><div><div class="row-fluid"><div class="span12">


<div class="koMenuHeader">
	<h3>
		<small>This Subpage Settings</small>
		Edit Subpage	</h3>
</div>
<div class="koMenuContainer">
<script>var $defaultWidth=351;</script>
<div class="koMenuTabs">

	<ul class="nav" role="tablist">
		<li>
			<a href="#{{page.prefix}}" class="active" data-toggle="tab" data-bs-toggle="tab"><i class="fa fa-edit"></i> General Settings</a>

						<a href="#meta" id="tab_meta" data-toggle="tab" data-bs-toggle="tab"><i class="fa fa-code"></i> SEO & Meta Tags</a>
					
			<div class="koMenuSeparator my-3"></div>
		
		</li>
	</ul>
</div>

<div class="koMenu koMenuButtonFixed tab-content" style="width:350px">

	<div class="koMenuButtonHolder row" style="width:350px">
		<button class="btn btn-ui-primary btn-block btn-lg" type="submit"><i class="fas fa-check"></i> Save changes</button>
	</div>

    <div role="tabpanel" class="tab-pane active" id="{{page.prefix}}">
		
	<div class="koMenuField">
			<input placeholder="Subpage name" autocomplete="off" id="k_subpageName" name="title" value="{{page.title}}" type="text">
			<label for="k_subpageName">Subpage name</label>
		</div>

		<div class="koMenuSeparator my-3"></div>


	</div>
    <div role="tabpanel" class="tab-pane" id="meta">


		


		<div class="koMenuCard">
			<h3>Page Result in Google</h3>

						<p class="googleResultsTitle">
				<a href="javascript:void(null)" data-default-title="{{page.title}} &mdash; {{app.sitename}}" onclick="$('#MTITLE_TITLE').focus()">{{page.title}} &mdash; {{app.sitename}}</a>
			</p>
			<p class="googleResultsAddress">{{app.CONF.url}}/<span><a href="javascript:void(null)" onclick="$('#seoName').focus()">{{page.prefix}}</a></span></p>
			<p class="googleResultsDescription"><a href="javascript:void(null)" onclick="$('#MDESCRIPTION_TITLE').focus()">[No description]</a>
			</p>

		</div>

		<style>
		.googleResultsTitle a{text-decoration:none;color:#1a0dab}
		.googleResultsAddress a{text-decoration:none;color:#006621;font-weight:bold}
		.googleResultsDescription a{text-decoration:none;color:#545454}
		.googleResultsDescription a:hover,.googleResultsAddress a:hover,.googleResultsTitle a:hover{background:var(--ui-color-accent-light);box-shadow: 0 0 0 5px var(--ui-color-accent-light);}
		
		</style>
		<div class="koMenuField">

			<input id="oldSeoName" name="oldSeoName" value="{{page.prefix}}" type="hidden" />
			<input id="seoName" name="seoName" value="{{page.prefix}}" type="text" placeholder="1_1_Home.html" onkeyup="$('.googleResultsAddress span a').text($(this).val())">
			<label for="seoName">Super URL Name</label>
			<small class="form-text text-muted">Custom URL link name, like "subpage-name"</small>
			  
		</div>
		
		<div class="koMenuSeparator my-3"></div>

		<div class="koMenuField">
			
		<div class="position-relative">
		
			<span class="textareaCounter" id="MTITLE_TITLECounter"></span>
  
	
			<input id="MTITLE_TITLE" name="seo_title" value="{{page.seo_title}}" placeholder="Meta Title" type="text" onkeyup="if($(this).val()!='')$('.googleResultsTitle a').text($(this).val());else $('.googleResultsTitle a').text($('.googleResultsTitle a').attr('data-default-title'));$('#MTITLE_TITLECounter').text(this.value.length)">
  			<label for="MTITLE_TITLE">Meta Title</label>
		
		</div>
		<small class="form-text text-muted">Optional, unique Meta Title tag for this subpage</small>

	</div>


	<div class="koMenuField mt-3">

		<div>
			<span class="textareaCounter" id="MDESCRIPTION_TITLECounter"></span>
 			<textarea id="MDESCRIPTION_TITLE" name="seo_desc" placeholder="Meta Description" type="text" onkeyup="$('.googleResultsDescription a').text($(this).val());$('#MDESCRIPTION_TITLECounter').text(this.value.length)">{{page.seo_desc}}</textarea>
			<label for="MDESCRIPTION_TITLE">Meta Description</label>
		</div>
		<small class="form-text text-muted">Optional, unique Meta Description tag for this subpage</small>
	
	</div>


	<div class="koMenuField mt-3">
		<div>
			<span class="textareaCounter" id="MKEYWORDS_TITLECounter"></span>
			<textarea id="MKEYWORDS_TITLE" name="seo_keywords" placeholder="Meta Keywords" onkeyup="$('#MKEYWORDS_TITLECounter').text(this.value.length)">{{page.seo_keywords}}</textarea>
			<label for="MKEYWORDS_TITLE">Meta Keywords</label>
  		</div>
		<small class="form-text text-muted">Optional, unique Meta Keywords for this subpage</small>
	</div>

	<script>

		$('#MTITLE_TITLE,#MDESCRIPTION_TITLE,#MKEYWORDS_TITLE').trigger('keyup');

	</script>

	
	<div class="koMenuCard mt-3 ">

		<div class="form-group">
			<label for="MADDITIONAL_TITLE">Additional  content</label>
			<textarea style="height:150px;" class="form-control" id="MADDITIONAL_TITLE" name="MADDITIONAL_TITLE"></textarea>
			<small class="form-text text-muted">Additional content which will be placed between HEAD tags</small>
		</div>

	</div>

	
</div>

</div>
</div>

	<div style="display:none">
		<input name="root_old" type="hidden" value="0">
		<input name="idd" type="text" value="1">
		<input name="menu" type="text" value="menu1">
		<input name="extra" type="text" value="">
		<input name="pos" type="text" value="1">
		<input name="seo" id="seo" type="hidden" value="" />
	</div>

</form>	<script>
		$(function () {
			$("#tab_meta").tab("show");
		})
	</script>
		<style>
		#inFrameManager {
			display: none;
			z-index: 999990;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: auto;
			height: auto;
			margin: 0;
			background: rgba(0, 0, 0, 0.5)
		}

		#inFrameBody {
			position: fixed;
			top: 20px;
			left: 20px;
			bottom: 20px;
			right: 20px;
			width: auto;
			height: auto;
			margin: 0;
			background: #F5F5F5;
			width: auto;
			height: auto;
			box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
			overflow: hidden
		}

		#inFrameHeader {
			height: 60px;
			line-height: 60px;
			background: linear-gradient(to bottom, #666 0%, #333 100%);
		}

		#inFrameHeader #inFrameHeaderClose {
			line-height: 60px;
			width: 60px;
			height: 60px;
			display: block;
			text-align: center;
			font-size: 20px;
			background: rgba(0, 0, 0, 0.5);
			color: #fff;
			opacity: 0.5;
			text-decoration: none;
			float: right
		}

		#inFrameHeader #inFrameHeaderClose:hover {
			opacity: 0.7
		}

		#inFrameHeader h3 {
			line-height: 60px;
			height: 60px;
			text-indent: 20px;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
			margin: 0;
			font-weight: var(--ui-font-bold);
			;
		}

		#inFrameManager #fileManager {
			overflow: auto;
			overflow-x: hidden;
			;
			width: 100%;
			position: relative;
			min-height: calc(100% - 60px);
		}

		#inFrameManager #fileManager .inAdminTabs {
			background: #F5F5F5
		}

		#inFrameManager #fileManager .inAdminTabs .dropdown-toggle .caret {
			margin-top: 25px;
			margin-left: 5px
		}

		/* hide edit/remove buttons */
		#fileManager .btn-group.btn-group-sm {
			display: none
		}



		#inFrameHeaderTitle {
			height: 60px;
			line-height: 60px;
			display: flex;
			align-items: center;
		}

		#inFrameHeaderTitle h3,
		#inFrameHeaderTitle span,
		#inFrameHeaderTitle a {
			display: block;
			float: left;
			margin-right: 15px;
			color: #fff;
			font-size: 15px
		}
		#inFrameHeaderTitle a:hover {color:#000;}

		#inFrameHeaderTitle h3 {
			font-size: 20px
		}

		#inFrameHeaderTitle span {
			opacity: 0.5;
			margin-right: 5px;
		}

		#inFrameManager #fileManager #panel_files {
			height: calc(100vh - 100px);
		}
	</style>

	<div id="inFrameManager">
		<div id="inFrameBody">
			<div id="inFrameHeader"><a id="inFrameHeaderClose" href="javascript:void(null)" onclick="$('#inFrameManager').fadeOut();"><i class="fas fa-times"></i></a>

				<div id="inFrameHeaderTitle">
					<h3>Select a file</h3>
					<span style="text-transform: lowercase;margin-right:15px">Or</span><a class="btn btn-outline-light rounded-pill" href="javascript:void(null)" onclick="$('#bottomUploadButton').trigger('click')"><i class="mr-2 fa fa-upload"></i>Upload Files</a>
				</div>
			</div>
			<div id="fileManager"></div>
		</div>
	</div>



	<script>
		var tinyIFrame = null;
		var tinyIFrameWindow = null;
		var tinyIFrameWindowMedia = null;

		// ESC key...
		$(document).keyup(function(e) {

			if (e.keyCode === 27) {

				window.top.koMenuClose();

			}
		});


		function showModalManager(option, optionalType, optionOption) {

			var whichFrame = '';

			$("#managerApplyTo").val(option);

			$("#inFrameManager").fadeIn();

			// make BODY not-scrollable
			//$("html, body").css({'overflow':'hidden'});
			
			showFolder(true);
				

		}


		function areYouSure(url) {



		}

		function areYouSureAction(todo, customTitle) {

			if (customTitle)
				var sureTitle = customTitle
			else
				var sureTitle = "Are you sure"



		}


		function removeFile(file,id){
	
    	apprise("Are you sure", {'verify':true}, function(r){
		if(r){

    	jQuery.ajax({
			type: "POST",
			url: "admin.php",
			data: "supermode=files&removeFile="+encodeURIComponent(file),
			success: function(data){
					if(data == "DELETED"){
						jQuery("div#file_"+id).fadeOut();
					} else alert(data)
			}
		});
    		} else {
			return false;
		}
	});
    


}

function showFolder(folder,folderName){


	$("#fileManager").html('<div class="isLoading"><span style="width:60px;height:50px;position:absolute;top:0;left:0;"><svg class="spinner spinnerAccent" viewBox="0 0 50 50"><circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle></svg></span></div>');



	if(folder!=true){

		$("#fileManagerUploadToFolder").val(folder);
		$("#fileManagerCurrentFoldername").val(folderName);

	}

	jQuery.ajax({
		 type: "POST",
		 url: "admin.php",
		 data: "supermode=files&small=1&back="+encodeURIComponent("")+"&folder="+encodeURIComponent($("#fileManagerUploadToFolder").val()/*folder*/),
		 success: function(data){

		 					 	$("#fileManager").html(data);

				if(typeof assetManagerFilter === "undefined")assetManagerFilter=null;

				if(assetManagerFilter=='media'){


					assetManagerFilter=null;selectFilterFile('media');

				}

				return;


			}
});


}

// this is function called when user clicks on selected item in asset manager

function selectFile(file,id){

	
	if(file.indexOf('|')>-1){

		if($("#managerApplyTo").val() == 'newPhoto'){


			// allowed

		} else {

			// only first file
			file=file.split('|');
			file=file[0];

		}

	}

	$("#fileManager .fileSelected").removeClass("fileSelected");
	$("#fileManagerSelected").val(file).removeClass("hide");
	$("#file_"+id).addClass("fileSelected");


	if($("#managerApplyTo").val() == '' && $("#managerApplyToImage").val() == ''
		&& typeof tinymceCallback !== "function"){

		// it's not a modal mode, not called to select anything,
		// just to view files.

		$('#koMenu_files .koMenuTabs a').removeClass('active');
		$('#filesTab_1').addClass('active');

		if(id == 1){
			// coming from upload or stock?
			refreshFManager();
		}
		return true;


	}
	
	$("#inFrameHeaderClose").trigger("click");
	if(typeof tinymceCallback == "function"){

		tinymceCallback(file);
		//window.top.tinymce.activeEditor.windowManager.close();
		return;
	}


	if(tinyIFrame!==null){


	} else
	if($("#managerApplyTo").val() != ""){


		$("#"+$("#managerApplyTo").val()).val(file);
		$("#preview_"+$("#managerApplyTo").val()).attr("src",file);
		$("#bgPreview_"+$("#managerApplyTo").val()).css({"background-image":"url("+file+")","background-size":"cover"});
		$("#trigger_"+$("#managerApplyTo").val()).trigger("click");

		// if it's block image, apply live changes
		if($("#managerApplyTo").val()=='blockBackgroundImage'){


			blockBackgroundCleanup(2);

			// save changes?
			// koBlockSettings();

			// check if it's not too dark for text...
			// blockContrastCheck(file,1);

		// now show hidden settings
		$(".blockButtonRemoveImage").show();

		if($("#blockId").val() != "body")
		$("#blockParallaxCheckbox,#blockFilterCheckbox").slideDown();

		//if($("#blockId").val() == "headerBanner"){
		//$("#blockFilterCheckbox").slideDown();
		//}

		// if it's logo image, apply live changes
		}else if($("#managerApplyTo").val()=='k_websiteLogo')
		koPageSettings();

		setTimeout('$("#managerApplyTo").val("");',1000);

	} else
	if($("#managerApplyToImage").val() != ""){

		// saving directly to content element,
		// so update source and save changes
		$("#"+$("#managerApplyToImage").val()).attr("src",file);
		//$("#preview_"+$("#managerApplyTo").val()).attr("src",file);
		$("#managerApplyToImage").val("");

		setTimeout("k_EditSave('norefresh');",500)

	}







}
function selectFilterFile(filter){

	$("div.fileRow").show()
	if(filter===undefined)
		return true;

	$("div.fileRow:not(.filter_"+filter+")").hide()

}
function refreshFManager(){

	showFolder(true);

}
	</script>

		<div style="display:none">

		<script id="__inPageUploadFrame">
			$('#__inPageUploadFrame').replaceWith('<ifra' + 'me name="inPageUploadFrame" id="inPageUploadFrame" width="300" height="250" src="" style="display:none;"></ifra' + 'me>')
		</script>

		<form action="admin.php?supermode=page_upload" id="inPageUploadForm" target="inPageUploadFrame" method="post" enctype="multipart/form-data">

			<input type="file" name="file[]" multiple id="bottomUploadButton">
			<input type="submit" name="submit" id="bottomUploadButtonSubmit">

			<input type="hidden" name="managerApplyTo" id="managerApplyTo" />
			<input type="hidden" name="managerApplyToFrame" id="managerApplyToFrame" />
			<input type="hidden" name="managerApplyToImage" id="managerApplyToImage" />

			<input type="hidden" name="fileManagerSelected" id="fileManagerSelected" class="hide" />
			<input type="hidden" name="fileManagerUploadToFolder" id="fileManagerUploadToFolder" class="hide" />
			<input type="hidden" name="fileManagerCurrentFoldername" id="fileManagerCurrentFoldername" class="hide" />

		</form>
		<script>
			
			$("#bottomUploadButton").change(function() {



				$("#asset_loadingInfo").show();
				$("#bottomUploadButtonSubmit").trigger('click');

			});
			
			// how wide is the content?
			var $bwidth = $('.koMenuTabs').outerWidth();
			
			if (typeof $defaultWidth === "undefined")
				var $defaultWidth = 333;

			if (typeof $bwidth === "number") {

				$bwidth = Math.round($bwidth + $defaultWidth);


			} else $bwidth = $defaultWidth;

			$('#admin').addClass('activeButtonHolder');

			if (window.top != window.self) {

				window.top.koMenuFit($bwidth);

				var km_pos = ($('.koMenu').offset());
				if (km_pos.top > 100) {

					setTimeout(function() {

						// try again.
						$bwidth = $('.koMenuTabs').outerWidth();
						$bwidth = Math.round($bwidth + $defaultWidth);

						window.top.koMenuFit($bwidth);


					}, 1000);

				}

				window.top.koHideLoading();

				$(function() {
					$("body,html").scrollTop(0);
					window.top.koMenuLoaded();
					
					window.addEventListener('beforeunload', function(event) {
						$('body').css('overflow', 'hidden').prepend('<div class="unloading"><span style=""><i class="fas fa-spinner fa-pulse "></i>Loading...</div>');
						window.top.koMenuUnload();
					});

				});

			}
		</script>
	</div>
</body>
</html>