{% include 'views/includes/header.html.twig' %}
    <!-- main -->
    <main style="" class=" flex-1 overflow-x-hidden overflow-y-auto  ">
        <div class="py-2 mt-1"></div>
        <!-- today tab 1 -->
        <!-- New releases -->
        <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
            <h1 class="font-bold text-lg ">{{title}}</h1>
            <hr class="mt-2" />
        </div>
        <div class="row ">
                <div class="col-md-8">
                    <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">

                    <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
                        <table class="table dark:text-gray-400 text-gray-800 border-separate space-y-6 text-sm w-full">
                            <thead class="dark:bg-gray-800 bg-white text-gray-500">
                                <tr>
                                    <th class="p-2">Device</th>
                                    <th class="p-2 text-left">Code</th>
                                    <th class="p-2 text-left">Cost</th>
                                    <th class="p-2 text-left">Time</th>
                                    <th class="p-2 text-left">Spent time</th>
                                    <th class="p-2 text-left">Status</th>
                                    <th class="p-2 text-left">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr class="dark:bg-gray-800">
                                    <td class="p-2">
                                        <div class="flex align-items-center">
                                            <img class="rounded-full h-12 w-12  object-cover" src="{{app.CONF.url}}assets/img/ps.png" alt="unsplash image">
                                            <div class="ml-3">
                                                <div class="font-medium">{{order.device.title}}</div>
                                                <div class="text-gray-500 text-sm">{{product.description}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-2 ">
                                        {{order.code}}
                                    </td>
                                    <td class="p-2 font-bold">
                                        {{app.currency}} {{order.cost}}   
                                    </td>
                                    <td class="p-2">
                                        <span>
                                            {{ order.endTime|date("m/d - H:i") }}
                                        </span>
                                    </td>
                                    <td class="p-2">
                                        {{ order.bookingTime.h   }}
                                        {{ order.bookingTime.i   }}
                                    </td>
                                    <td class="p-2 px-1">
                                        <span class="font-medium text-md">{{ order.status   }}</span>
                                    </td>
                                    <td class="p-2 ">
                                        <a href="{{app.CONF.url}}order/{{order.code}}" class="text-gray-400 hover:text-gray-100  mx-2">
                                            <i class="material-icons-outlined text-base">edit</i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    </div>
                </div>
                <div class="col-md-4">

                    <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
                        <div id="jh-stats-positive" class="block justify-center px-4 py-4 bg-white border border-gray-300 rounded">
                            <div>
                                <div class="hidden">
                                    <p class="flex items-center justify-end text-green-500 text-md">
                                        <span class="font-bold">6%</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 24 24"><path class="heroicon-ui" d="M20 15a1 1 0 002 0V7a1 1 0 00-1-1h-8a1 1 0 000 2h5.59L13 13.59l-3.3-3.3a1 1 0 00-1.4 0l-6 6a1 1 0 001.4 1.42L9 12.4l3.3 3.3a1 1 0 001.4 0L20 9.4V15z"/></svg>
                                    </p>
                                </div>
                                <p class="text-3xl font-semibold text-center text-gray-800">{{todayOrders}}</p>
                                <p class="text-lg text-center text-gray-500">Today orders</p>
                            </div>
                        </div>
            
                        <div id="jh-stats-negative" class="flex flex-col justify-center px-4 py-4 mt-4 bg-white border border-gray-300 rounded sm:mt-0">
                            <div>
                                <div class="hidden">
                                    <p class="flex items-center justify-end text-red-500 text-md">
                                        <span class="font-bold">6%</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 24 24"><path class="heroicon-ui" d="M20 9a1 1 0 012 0v8a1 1 0 01-1 1h-8a1 1 0 010-2h5.59L13 10.41l-3.3 3.3a1 1 0 01-1.4 0l-6-6a1 1 0 011.4-1.42L9 11.6l3.3-3.3a1 1 0 011.4 0l6.3 6.3V9z"/></svg>
                                    </p>
                                </div>
                                <p class="text-3xl font-semibold text-center text-gray-800">{{lastWeekOrders}}</p>
                                <p class="text-lg text-center text-gray-500">Last week orders</p>
                            </div>
                        </div>

                        <div id="jh-stats-neutral" class="flex flex-col justify-center px-4 py-4 mt-4 bg-white border border-gray-300 rounded sm:mt-0">
                            <div>
                                <div class="hidden">
                                    <p class="flex items-center justify-end text-gray-500 text-md">
                                        <span class="font-bold">0%</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 24 24"><path class="heroicon-ui" d="M17 11a1 1 0 010 2H7a1 1 0 010-2h10z"/></svg>
                                    </p>
                                </div>
                                <p class="text-3xl font-semibold text-center text-gray-800">{{lastMonthOrders}}</p>
                                <p class="text-lg text-center text-gray-500">New Tickets</p>
                            </div>
                        </div>

                        <form action="{{formAction}}" method="POST" data-refresh="1" id="redirect-form" data-redirect="orders/month/" class="action p-8 py-0 m-auto rounded-lg  pb-10">
                            <h1 class="m-auto  text-2xl mb-10 text-center">Filter by month</h1>
                            <input type="month" id="redirect-value" class="h-12 mt-3 rounded w-full border px-3 text-gray-400  focus:border-blue-100 dark:bg-gray-800 dark:border-gray-600" >

                            <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">Update</button>
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>
        <!-- END New releases -->
    </main>
    
    <!-- end of main -->
    <div id="main-forms-container">
        {% include 'views/forms/add_device.html.twig' %}
    </div>

    <script type="text/javascript">
        function openOrderPage(code) {
            window.location.href =  '{{app.CONF.url}}order/' + code;
        }
    </script>

{% include 'views/includes/footer.html.twig' %}