

                        <!-- Main sidebar -->
                        <div class="main-sidebar show activate p-6 shadow-lg  bg-white fixed rounded right-4 bottom-0 shadow-2xl  transform transition duration-400">

                            <div class="relative overflow-y-auto h-auto" style="max-height: 90vh; overflow: auto;">
                                <a href="#!" class="ToggleItem float-right" data-toggle-target=".main-sidebar" data-toggle-class="activate">X</a>
                                <form action="{{formAction}}" method="POST" data-refresh="1" id="add-device-form" class="action p-8 py-0 m-auto rounded-lg max-w-xl pb-10">
                                    <h1 class="m-auto max-w-xl text-2xl mb-10 text-center">{{title}}</h1>
                                    <input name="type"  type="hidden" value="edit_device" > 
                                    <input name="params[id]"  type="hidden" value="{{device.id()}}" > 
                                    <input name="params[title]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="Device Title" value="{{ device.title }}"> 

                                    <select name="params[type]" required="" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="">
                                    {% for type in typesList %}
                                    <option {% if type.id() == device.type.id() %} selected="" {% endif  %}  value="{{type.id()}}">{{type.title()}}</option>
                                    {% endfor %}
                                    </select>

                                    <label class="block pt-5">Single price</label>
                                    <input name="params[prices][single_price]" type="number" class="h-12 mt-3 rounded w-full border px-3 text-gray-400  focus:border-blue-100 dark:bg-gray-800 dark:border-gray-600" placeholder="Single price" value="{{device.prices.single_price}}">

                                    <label class="block pt-5">Multi price</label>
                                    <input name="params[prices][multi_price]" type="number" class="h-12 mt-3 rounded w-full border px-3 text-gray-400  focus:border-blue-100 dark:bg-gray-800 dark:border-gray-600" placeholder="Multi price" value="{{device.prices.multi_price}}">

                                    <label class="inline-flex items-center mt-3">
                                        <input name="params[publish]" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" {% if device.publish == 1 %} checked  {% endif %}><span class="ml-2 text-gray-700">publish</span>
                                    </label>
                                    
                                    <button class="uppercase h-10 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">Update</button>
                                </form>
                            
                                <a data-ajax="true" data-confirm="true" data-request-id="{{device.id}}" data-request-type="delete_device" data-type="post" href="#!" class="uppercase block text-center  pb-1 mt-1 text-white w-full rounded text-gray-700 hover:bg-red-800 hover:text-white">Remove this device</a>

                            </div>

                            <div class="p-8 py-2 shadow-2xl bg-white player-img text-center ">
                            </div>
                        </div>
                        <!-- End Main sidebar -->
