{% include 'views/includes/header.html.twig' %}
    <!-- main -->
    <main style="" class=" flex-1 overflow-x-hidden overflow-y-auto  ">
        <div class="py-2 mt-1"></div>

        <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
            <h1 class="font-bold text-lg ">Device: <span class="font-medium text-red-600 ml-5"> {{device.title}}</span></h1>
            <hr class="mt-2 pb-10" />
            
            <div id="invoice-page">

                <div class="p-2 lg:px-8 bg-white dark:bg-gray-700 rounded-lg  flex-auto">

                    <form action="{{formAction}}" method="POST" data-refresh="1" id="add-device-form" class="action p-8 py-0 m-auto rounded-lg max-w-xl pb-10">
                        <h1 class="m-auto max-w-xl text-2xl mb-10 text-center">{{title}}</h1>
                        <input name="type"  type="hidden" value="order_product" > 
                        <input name="params[id]"  type="hidden" value="{{device.id}}" > 

                        {% for product in products %}
                        <div class="block {% if stock.getItemStock( product.id ) < 1 %} disabled {% endif %}">
                            
                            <label class="w-full clear block h-14 items-center mt-3">
                                <input name="params[products][{{product.id}}][active]" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" >
                                <span class="ml-2 text-gray-700">{{product.title}}</span> 

                                <div class="float-right">
                                    <input name="params[products][{{product.id}}][qty]" max="{{stock.getItemStock( product.id )}}" type="number" class="form-checkbox bordered border border-1 border-gray-400 h-10 w-14 text-orange-600 text-center" >
                                    <span class="text-gray-400 ml-10">{{product.price}} {{app.currency}}</span>
                                </div>
                            </label>
                        </div>
                        {% endfor %}

                        
                        <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">Save</button>
                    </form>
                </div>
            </div>

        </div>

    </main>
    
    <!-- end of main -->
    <div id="main-forms-container">
        {% include 'views/forms/add_device.html.twig' %}
    </div>

{% include 'views/includes/footer.html.twig' %}