{% include 'views/includes/header.html.twig' %}
    <!-- main -->
    <main style="" class=" flex-1 overflow-x-hidden overflow-y-auto  ">
        <div class="py-2 mt-1"></div>
        <!-- today tab 1 -->
        <!-- New releases -->
        <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
            <h1 class="font-bold text-lg ">{{title}}</h1>
            <hr class="mt-2" />
        </div>
        <div class="row ">
                <div class="col-md-8">
                    <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
                        <table class="table dark:text-gray-400 text-gray-800 border-separate space-y-6 text-sm w-full">
                            <thead class="dark:bg-gray-800 bg-white text-gray-500">
                                <tr>
                                    <th class="p-2">Item</th>
                                    <th class="p-2 text-left">Stock</th>
                                    <th class="p-2 text-left">Start</th>
                                    <th class="p-2 text-left">Sold</th>
                                    <th class="p-2 text-left">Time</th>
                                    <th class="p-2 text-left">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock in stockList %}
                                <tr class="dark:bg-gray-800">
                                    <td class="p-2">
                                        <div class="flex align-items-center">
                                            <img class="rounded-full h-12 w-12  object-cover" src="{{app.CONF.url}}assets/img/ps.png" alt="unsplash image">
                                            <div class="ml-3">
                                                <div class="font-medium">{{stock.product.title}}</div>
                                                <div class="text-gray-500 text-sm">{{stock.product.description}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-2 font-bold">
                                        {{stock.stock}}
                                    </td>
                                    <td class="p-2">
                                        {{stock.startStock}}
                                    </td>
                                    <td class="p-2">
                                        {{stock.startStock - stock.stock}}
                                    </td>
                                    <td class="p-2">
                                        <span class="bg-red-400 {% if product.publish == 1 %} bg-green-400 {% endif %}  text-gray-50 rounded-md px-2">{{stock.time|date("m/d - H:i")}}</span>
                                    </td>
                                    <td class="p-2 ">
                                        <!-- <a href="{{app.CONF.url}}stock/{{stock.id}}" class="text-gray-400 hover:text-gray-100  mx-2">
                                            <i class="material-icons-outlined text-base">edit</i>
                                        </a> -->
                                        <a  data-ajax="true" data-confirm="true" data-request-id="{{stock.id}}" data-request-type="delete_stock" data-type="post" href="#!"  class="text-gray-400 hover:text-gray-100  ml-2">
                                            <i class="material-icons-round text-base">delete_outline</i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">

                        <form action="{{formAction}}" method="POST" data-refresh="1" id="add-device-form" class="action p-8 py-0 m-auto rounded-lg max-w-xl pb-10">
                            <h1 class="m-auto max-w-xl text-2xl mb-10 text-center">Add new stock</h1>
                            <input name="type"  type="hidden" value="add_stock" > 


                            <label class="pt-5 block">Product:</label>
                            <select name="params[product]" required="" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="">
                                {% for product in products %}
                                <option value="{{product.id }}">{{product.title}}</option>
                                {% endfor %}
                            </select>

                            <input name="params[startStock]" required="" type="number" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="Start stock"> 
                            
                            <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">Save</button>
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>
        <!-- END New releases -->
    </main>
    
    <!-- end of main -->
    <div id="main-forms-container">
        {% include 'views/forms/add_product.html.twig' %}
    </div>

    <script type="text/javascript">
        function openProductPage(id) {
            window.location.href =  '{{app.CONF.url}}product/' + id;
        }
    </script>

{% include 'views/includes/footer.html.twig' %}